* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.checkout {
  font-size: 30px;
  padding: 6px;
  color: gray;
  letter-spacing: 1px;
}
.checkout-details {
  background-color: rgba(128, 128, 128, 0.3);
  padding: 30px;
  width: 96%;
  margin: 10px;
  border-radius: 6px;
  height: 87%;
  overflow-x: hidden;
}
.first-product,
.second-product {
  display: flex;
}
.first-product img,
.second-product img {
  width: 200px;
  height: 200px;
  border-radius: 17px;
  margin-bottom: 37px;
}
.first-product .new-price,
.second-product .new-price {
  color: rgb(243, 76, 26);
}
.first-product .price,
.second-product .price {
  margin-top: 45px;
}
.first-product .name,
.second-product .name {
  font-weight: 700;
  color: rgb(66, 71, 75);
  margin: 4px;
}
.first-product .range,
.second-product .range {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  width: 106px;
  height: 50px;
}
.range .add {
  margin-left: 15px;
}
.range .num {
  font-weight: 700;
  margin-left: 4px;
}
.range .sub {
  margin-left: 3px;
}
.range .sub,
.add {
  background-color: rgba(128, 128, 128, 0.1);
  padding: 2px;
  margin-right: 7px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.ship-price,
.total-price {
  float: right;
}

@media (max-width: 380px) {
  .checkout-details {
    width: 90%;
    padding: 10px;
    margin: 5px;
    height: 95%;
  }
  .first-product img,
  .second-product img {
    width: 120px;
    height: 150px;
  }
  .price {
    position: absolute;
    left: 45%;
  }
  .first-product .range,
  .second-product .range {
    padding: 5px;
    margin-top: 20px;
    width: 90px;
    height: 40px;
  }
  .range .sub,
  .add {
    margin-right: 2px;
  }
  .checkout-details {
    padding: 20px;
  }
  .first-product .name,
  .second-product .name {
    font-size: 15px;
  }
  .first-product {
    margin-bottom: 30px;
  }
  footer p {
    display: none;
  }
}

@media (max-width: 330px) {
  .checkout-details {
    width: 89%;
    padding: 10px;
    margin: 5px;
    height: 80%;
    overflow-x: hidden;
  }
  .first-product img,
  .second-product img {
    width: 85px;
    height: 110px;
  }
  .price {
    position: absolute;
    left: 40%;
    font-size: 13px;
  }
  .first-product .range,
  .second-product .range {
    padding: 3px;
    margin-top: 10px;
    width: 70px;
    height: 40px;
  }
  .range .sub,
  .add {
    margin-right: 0px;
  }
  .range .add {
    margin-left: 5px;
  }
}
@media (min-width: 380px) and (max-width: 430px) {
  .checkout-details {
    width: 88%;
    padding: 10px;
    margin: 10px;
  }
  .first-product img,
  .second-product img {
    width: 140px;
    height: 150px;
  }
  .first-product .name,
  .second-product .name {
    font-size: 15px;
  }
  .price {
    position: absolute;
    left: 44%;
    font-size: 16px;
  }
}
@media (max-width: 760px) {
  .checkout-details {
    position: absolute;
    top: 8%;
  }
  .form {
    position: absolute;
    top: 110%;
  }
  footer p {
    position: absolute;
    margin-top: 170%;
  }
}

@media (min-width: 435px) and (max-width: 770px) {
  .checkout-details {
    width: 99%;
    padding: 30px;
    margin: 16px;
    height: 70%;
  }
  .price {
    position: absolute;
    left: 75%;
  }
  .first-product img,
  .second-product img {
    width: 120px;
    height: 145px;
  }
}

@media (min-width: 772px) and (max-width: 1040px) {
  .checkout-details {
    height: 70%;
  }
  .first-product img,
  .second-product img {
    width: 160px;
    height: 170px;
  }

  .price {
    position: absolute;
    left: 73%;
  }
  .first-product .name,
  .second-product .name {
    margin-left: 20px;
  }
}

@media (min-width: 1040px) {
  .checkout-details {
    width: 84%;
    height: 80%;
  }
  .first-product img,
  .second-product img {
    width: 180px;
    height: 190px;
  }

  .price {
    position: absolute;
    left: 69%;
  }
  .first-product .name,
  .second-product .name {
    margin-left: 40px;
    font-size: 22px;
  }
}

/*form*/
form {
  padding: 5px;
}

form ::placeholder,
.input-group span i,
form label {
  color: gray;
}
form ::placeholder {
  position: relative;
  left: 20px;
}
.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group span {
  position: relative;
  margin-right: -24px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group span .fa-city {
  font-size: 14px;
}
.input-group span i {
  font-size: 18px;
}
.input-select svg {
  position: absolute;
  margin-top: 10px;
  margin-left: 4px;
}
form button {
  padding: 10px;
  color: #fff;
  background-color: rgb(243, 124, 12);
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 200px;
}
.input-select svg {
  fill: gray;
}
.input-select select {
  border-radius: 8px;
  border: 1px solid gray;
}
#email,
#number,
#name,
#address,
#city,
#country,
#code {
  border-radius: 8px;
  border: 1px solid gray;
}
footer p {
  text-align: center;
  width: 100%;
  position: absolute;
  color: gray;
  top: 140%;
}
